.card__image-container {
  position: relative;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.card__title {
  margin-top: 12px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-btn {
  background-image: url("../images/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.card__delete-btn:hover,
.card__delete-btn:focus {
  opacity: 1;
  background-color: red;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin-top: 12px;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url("../images/liked.svg");
  opacity: 1;
  transition: background-image 0.2s;
}

.card__like-btn_active:hover {
  background-image: url("../images/liked-hover.svg");
  filter: brightness(1.2);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 288px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }
}
